		<html>
		 <head>
		 	<title>Space!</title>
		 	<!-- Link to external font library-->
		 	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

		 	<!--Import Google Icon Font-->
		 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

		 	<link
		 		rel="stylesheet"
		 		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		 		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		 		crossorigin="anonymous"
		 	/>

		 	<!-- Link to browser favicon -->
		 	<!-- <link rel="icon" sizes="32x32" type="image/png" href="/assets/CM.png" /> -->

		 	<!-- jQwer -->
		 	<script
		 		src="https://code.jquery.com/jquery-3.6.0.min.js"
		 		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		 		crossorigin="anonymous"
		 	></script>

		 	<!-- Link to javascript library -->
		 	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		 	<!-- Compiled and minified CSS -->
		 	<link
		 		rel="stylesheet"
		 		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		 	/>

		 	<!-- Compiled and minified JavaScript -->
		 	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		 	<link rel="stylesheet" href="../public/styles.css" />

		 	<script type="text/javascript" src="./lib/three.min.js"></script>
		 	<script type="text/javascript" src="./galaxyScene/earthAndMoonPlanet.js"></script>
		 </head>
		  <body class="starfield2">


		       <div id="containerG" style="top: 0">
		        </div>


		      <!-- <script type="text/javascript" src="./galaxyScene/galaxyScene.js"></script> -->
		    </body>
		    <script type="text/javascript" src="./galaxyScene/planet.js"></script>
		</html>