<html>
	<head>
		<title>Space!</title>
		<!-- Link to external font library-->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<!-- Link to browser favicon -->
		<link rel="icon" sizes="32x32" type="image/png" href="/assets/CM.png" />

		<!-- jQwer -->
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>

		<!-- Link to javascript library -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<!-- Compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	<body>
		<nav>
		  <div class="nav-wrapper">
		    <ul class="right">
		      <li id="spacePic">
		        <a href="#"><i class="material-icons">collections</i></a>
		      </li>
		      <li id="earth">
		        <a href="#"><i class="material-icons">public</i></a>
		      </li>
		      <li id="galaxy">
		        <a href="#"><i class="material-icons">home</i></a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-12 mt-4 text-center">
					<a id="APODPics" href="#" class="btn waves waves-light">See another APOD pic</a>
					<a id="morePics" href="#" class="btn waves waves-light">See pics of martian surface</a>
					<a id="moreOldPics" href="#" class="btn waves waves-light">See classic NASA pics </a>
				</div>
			</div>
			<div class="row picRow">
			</div>
		</div>
	</body>
	<script src="./public/spacePic.js"></script>
	<script type="text/javascript" src="./public/nav.js"></script>
</html>
